<div fxLayout="row" fxLayoutAlign="center">
	<div fxFlex="33">
		<h1>Login</h1>
		<mat-card>
			<div>
				<mat-form-field class="w-100">
					<input matInput placeholder="username" [(ngModel)]="credentials.username" name="username"/>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="w-100">
					<input matInput placeholder="password" type="password" [(ngModel)]="credentials.password" name="password"/>
				</mat-form-field>
			</div>
		</mat-card>
		<button mat-raised-button color="primary" (click)="login()" style="width: 100%">
			Login
		</button>
	</div>
</div>
